*{
	margin: 0;
}
.body {
	max-width: 1920px;

	&__div {
		display: flex;
		flex-direction: column;
	}
}
.header {

	&__div {
		background-color: #000;
		height: 44px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
.top {

	&__main {
		height: 80px;
		display: flex;
		background: #181818;
		
	}
}
.main {

	&__div {
		display: flex;
		color: white;
	}
}
.container{
	display: flex;
	justify-content: space-around;
	flex: 1 1 100%;
	
}
ul{
	list-style-type: none;
	display: flex;
	align-items:stretch;
	
}
li{
	padding: 0 20px;
	display: flex;
	align-items: center;
}
li:hover{
	background-color:#292929;
}
.logo {

	&__linck {
		color: white;
		padding-top: 20px;
		text-align: center;
		font-size: 36px;
		height: 60px;
		
	}
}

.img {
	
	&__div {
		padding: 30px 20px 0 20px;

	}
}



.left {

	&__header {
		color: white;
	}
}
.right {

	&__header {
		color: white;
	}
}



.first__div {
	background: url(../img/Rectangle3.png);
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	align-items: center;
}
.block__name {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 4px solid rgb(255, 255, 255);
	margin: 160px 0 80px 0;
	padding: 95px 70px;
	
}
.block__value {
	color: rgb(255, 255, 255);
	padding: 0 595px;
	margin: 0 0 150px 0;
	font-size: 20px;
	
}
p{
	text-align: center
}

@font-face {
	font-family: "Post No Bills Jaffna";
	src: url(../style/PostNoBillsJaffna-ExtraBold.ttf) format('ttf');
}


/////////////////////////////////////////////

.block {

	&__season {
		display: flex;
	}
}
.season {

	&__left {
		background-color: #000000;	
		height: 700px;

	}

	&__right {
		background: url(../img/Rectangl.png);
	}
}
.title {

	&__name {
		padding: 90px 330px 0 330px;
		color: white;
		font-size: 36px;
	}
}
.main {

	&__clock {
		display: flex;
		justify-content: space-evenly;
	}
}
.img {

	&__clock {
		padding: 50px 20px;
		background-color: #3a3a3a;
	}
}
.name {

	&__clock {
		padding-top: 10px;
	}
}
.value {

	&__clock {
		padding-top: 10px;
	}
}


.block{

	&__mainclock{
		color: rgb(255, 255, 255);
	}
}
.line{
	border-bottom: 1px solid white;
	margin: 50px 400px;
}


.season {


	&__right {
		width: 951px;
	}
}


.block {

	&__mainclock {
	}

	&__but {
		color: white;
		margin-left: -15px;
		margin-top: 10px;
		padding-left: 460px;
		padding-right: 410px;
		font-size: 18px;
	}
}

.left {

	&__name {
		color: white;
		padding: 480px 0 0 362px;
		font-size: 36px;
	}
}
.inline{
	border-bottom: 1px solid white;
	padding: 10px;
	margin: 0 400px 0 440px;
}
.butt{
	border: 1px solid rgb(255, 255, 255);
	padding: 5px;
}

////////////////////////////////////@at-root

.collection {
	display: flex;
}
.one {

		&__bl {
			width: 3500px;
			background: url(../img/Rectangle9.png);
		}
}
.second {

		&__bl {
			background-color: #000000;
			color: white;
			height: 600px;
			display: flex;
			align-items: center;
		}
}
.text {
}
.tit {

		&__coll {
			text-align: center;
			font-size: 36px;
			
		}
}
.collLIne {
	border-bottom: 1px solid white;
	padding-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
}
.text{
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;

}
.buttDown {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px;
	text-align: center;
	margin: 20px 300px;
}







/////////////////////////////////////
.last {

	&__block {
		background-image: url(../img/Rectangle15.png);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 400px;
	}
}
.one {
	padding: 50px;
	width: 350px;
}
.mane {
	font-size: 24px;
	padding-bottom: 40px;
}
.lorem {
	
}
.two {
	width: 350px;
}
.bl {
	display: flex;
	flex-wrap: wrap;
}
.kategori {
	margin: 10px;
	padding: 15px;
	background-color: #000;
}
.three {
	width: 350px;
}
.inp {
	padding-top: 50px;
}

